body {
    font-family: 'Montserrat';
}

.navbar {
    background-color: #171717;
}

.nav-item.active a {
    color: #F9B234 !important;
    font-weight: 600;
}

.nav-item {

    margin-right: 20px;
}

.nav-link span {
    color: #F9B234;
}

/* carousel */
.carousel {
    height: 450px;
    background-color: #171717;
    color: white;
}

.carousel h1 {
    font-family: 'lora';
}

.carousel p {
    font-weight: 200;
}

/* catalog */


.catalog h3 {
    font-family: 'lora';
    color: #1A258E;
    font-weight: 600;
}

.catalog .container p {
    color: #B6B9C8;
    font-weight: 400;
}

.figure h5 {
    color: #171717;
}

.figure-img {
    position: relative;
}

.figure-img a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.4s;
}

.figure-img:hover a {
    opacity: 1;
}

/* designer */

.designer .container h3 {
    font-family: 'lora';
    color: #1A258E;
    font-weight: 600;
}

.designer .container p {
    color: #B6B9C8;
    font-weight: 400;
}

/* breadcrumb */
.breadcrumb {
    margin-top: 100px;
}

.cart-breadcrumb {
    margin-top: 50px;
}





/* single product */
.thumbnail-container {
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: auto;
    transform: translateY(-50px);
}

/* btn-cart */
.btn-cart {
    margin: 50px 0;
    padding-bottom: 50px;
    border-bottom: 1px solid #EAEAEF;
}

.btn-cart a {
    display: block;
    margin-top: 10px;
}

/* desogner */
.designer h3 {
    font-size: 18px;
    color: #171717;
}

.designer h5 {
    font-size: 18px;
    font-weight: 200;
    color: #827B7B;
}

.designer p {
    font-size: 14px;
    font-weight: 200;
    color: #827B7B;
}

.designer p span {
    font-size: 14px;
    font-weight: 200;
    color: #171717;
}

/* product description */

.product-description {
    background-color: #F6F7FB;
    height: 350px;
}

.product-description .tab-content {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
    height: 330px;
    border: 1px solid #dee2e6;
    border-top: 0;
    overflow: auto;
}

.product-description .tab-content p {
    font-size: 14px;
    font-weight: 200;
    color: #827B7B;
    line-height: 24px;
}

.product-description .tab-pane h3 {
    line-height: 10px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;
}

.product-description .tab-pane p {
    font-size: 12px;
    font-weight: 200;
    line-height: 15px;

}

/* smiliar product */
.similiar-product {
    margin-top: 180px;
    margin-bottom: 100px;
}

.similiar-product h3 {
    font-family: 'lora';
    color: #1A258E;
    font-weight: 600;

}

.similiar-product h5 {
    font-size: 18px;
    font-weight: 400;
}


/* footer */
footer p,
a {
    color: #B6B9C8;
    text-decoration: none !important;
}

footer span {
    color: #171717;
}

.nav a {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

/* cart judul */
.judul h3 {
    font-family: 'lora';
    color: #1A258E;
    font-weight: 600;
    margin-bottom: 0;
}

.judul p {
    color: #b7b7b7;
    font-weight: 200;
}

.judul-cart p {
    font-size: 14px;
    font-weight: 200;
    color: #b7b7b7;
}


.card {
    background-color: #F6F7FB;
    border: 1px solid #EAEAEF;
}